.events-form-container {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  &__buttons-container {
    display: flex;
    gap: 1rem;
  }

  mat-form-field {
    width: 16rem;
  }

  .submit-btn {
    margin-top: 0.5rem;
  }
  .error-summary {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    ul {
      margin: 0;
      display: contents;
    }
  }
}
